@charset "UTF-8";

header{
		background-color: green
	
}

h1, h2
{
	text-align: center;
	color: black;
}

table {
	border: 1px solid black;
	margin-left:auto;
	margin-right:auto;
	width:500px;
	height:250px;
}

footer
{
	text-align: center;
	background-color: green
}
footer-author
{color: black;}
